.container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: all 0.2s ease;
}

.contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.avatar {
  width: 100%;
}

.titleContainer{
  position: relative;
  z-index: 1;
}

.title {
  font-size: 52px;
  font-family: BungeeShade;
  text-align: center;
  color: var(--primary-color);
}

.infoContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: var(--primary-color);
  z-index: 0;
}

.infoContentContainer {
}

.infoText {
  color: #FFF;
  line-height: 2em;
  font-size: 28px;
  font-family: Poppins;
}

.infoTextContainer {
  transform: translateY(100px);
  opacity: 0;
}

.skillText {
  font-size: 40px;
  font-family: Poppins-ExtraBold;
}

.svgMenu {
  fill: #8ec6c5;
}

/* .cursor {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 50px;
	background-color: orange;
	animation: blink .75s step-end infinite;
} */

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: orange; 
	}
}

@media only screen and (max-width: 989px) {
  .contentContainer {
    padding: 0px var(--mobile-spacing);
  }

  .title {
    font-size: 36px;
  }

  .infoContentContainer {
    /* justify-content: flex-end; */
    padding: 0px 40px;
  }

  .infoText {
    font-size: 20px;
  }

  .skillText {
    font-size: 26px;
  }

  .infoTextContainer {
    padding-top: 50vh;
  }
}

@media only screen and (min-width: 990px) {
  .titleContainer {
    width: 36%;
  }

  .infoContentContainer {
    width: 50%;
    margin-left: var(--desktop-spacing);
  }

  .infoText {
    width: 80%;
  }

  .skillText {
    margin-left: 10px;
  }

  .infoTextContainer {
    padding-top: 30vh;
  }
}
