.container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: transform 0.2s ease;
}

.contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
}

.avatar {
  width: 36%;
}

.titleContainer{
  position: relative;
  z-index: 1;
}

.greet {
  font-family: FjallaOne;
  letter-spacing: 2px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.52);
}

.title {
  font-size: 118px;
  font-family: FjallaOne;
  color: var(--primary-color);
  letter-spacing: 11.7px;
  text-transform: uppercase;
}

.infoContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0px;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  padding: 0px var(--horizontal-spacing);
  align-items: center;
  z-index: 1;
}

.infoText {
  color: #FFF;
  line-height: 2em;
  font-size: 28px;
  font-family: Poppins;
}

.infoTextContainer {
  transform: translateY(100px);
  opacity: 0;
}

.skillText {
  font-size: 40px;
  font-family: Poppins-ExtraBold;
}

.svgMenu {
  fill: #8ec6c5;
}

.avatar {
  opacity: 0;
}
/* .cursor {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 50px;
	background-color: orange;
	animation: blink .75s step-end infinite;
} */

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: orange; 
	}
}

@media only screen and (max-width: 989px) {
  .contentContainer {
    padding: 0px var(--horizontal-spacing);
  }

  .title {
    font-size: 70px;
    letter-spacing: 6px;
  }

  .greet {
    font-size: 16px;
  }

  .infoText {
    font-size: 20px;
  }

  .skillText {
    font-size: 26px;
  }

  .infoContainer {
    justify-content: center;
    flex-direction: column;
  }

  .avatar {
    width: 86%;
  }

}

@media only screen and (min-width: 990px) {
  .titleContainer {
    width: 36%;
  }

  .infoText {
    width: 80%;
  }

  .skillText {
    margin-left: 10px;
  }

}
