.container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  cursor: pointer;
  background-size: 136px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px;
}

.line {
  height: 10px;
  border-radius: 2px;
  width: 48px;
  margin-bottom: 10px;
  background: -webkit-linear-gradient(0deg, rgba(106, 17, 203, 1) 0%, rgba(37, 117, 252, 1) 100%);
  transition: transform 0.2s ease-in;
  transform: translate(10px, 8px);
}

.whiteLine {
  background: white;
}

.line2 {
  width: 30px;
}


.crossLine1 {
  background: white;
  -webkit-transform: rotate(45deg) translate(14px, 0px);
  -moz-transform: rotate(45deg) translate(14px, 0px);
  -o-transform: rotate(45deg) translate(14px, 0px);
  transform: rotate(45deg) translate(14px, 0px);
}

.crossLine2 {
  background: white;
  -webkit-transform: rotate(-45deg) translate(12px, 0px);
  -moz-transform: rotate(-45deg) translate(12px, 0px);
  -o-transform: rotate(-45deg) translate(12px, 0px);
  transform: rotate(-45deg) translate(12px, 0px);
}

.blob {
  position: relative;
  height: 100%;
  width: 100%;
}

.blobImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blobContainer {
  position: relative;
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


@media only screen and (max-width: 989px) {
  .container {
    top: 0px;
    right: 0px;
  }

  .line {
    height:7px;
    width: 40px;
    margin-bottom: 8px;
  }

  .line2 {
    width: 24px;
  }

  .blobContainer {
    height: 50px;
    width: 50px;
  }

  .crossLine2 {
    background: white;
    -webkit-transform: rotate(-45deg) translate(9px, 3px);
    -moz-transform: rotate(-45deg) translate(9px, 3px);
    -o-transform: rotate(-45deg) translate(9px, 3px);
    transform: rotate(-45deg) translate(9px, 3px);
  }
  
}


@media only screen and (min-width: 990px) {
  
}
