.modalText {
  cursor: pointer;
  font-family: Poppins-ExtraBold;
  font-size: 88px;
  letter-spacing: 4.45px;
  margin-bottom: 22px;
  color: rgba(255, 255, 255, 0.5);
}

.modalTextActive {
  color: #FFF;
}

.modalTextActive :hover {
  color: #FFF;
}

@media only screen and (max-width: 989px) {
  .modalText {
    font-size: 48px;
  }
}


@media only screen and (min-width: 990px) {

}
