
.overlay {
  position: fixed;
  z-index: 999; 
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  transition: all 0.2s ease-in;
}

.overlay-enter {
  opacity: 0;
}

.overlay-enter-active {
  opacity: 1;
}

.overlay-exit {
  opacity: 1;
}

.overlay-exit-active {
  opacity: 0;
}

.modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 66%;
  height: 100vh;
  transition: all 0.5s ease-in-out;
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  padding: 100px;
  display: flex;
  right: 0px;
  will-change: transform;
  flex-direction: column;
  justify-content: center;
}

.modal-enter {
  /* right: -100%; */
  transform: translateX(100vw);
}

.modal-enter-active {
  transform: translateX(0px);
}

.modal-enter-done {
  transform: translateX(0px);
}

.modal-exit {
  transform: translateX(0px);
}


.modal-exit-active {
  /* right: -100%; */
  transform: translateX(100vw);
}

.modal-exit-done {
  transform: translateX(100vw);
}

@media only screen and (max-width: 989px) {
  .modal {
    width: 80%;
    padding: 40px;
    padding-bottom: 132px;
  }
}
