@font-face {
  font-family: 'BungeeShade';
  src: url(./assets/fonts/BungeeShade.ttf)
}


@font-face {
  font-family: 'Poppins';
  src: url(./assets/fonts/Poppins-Regular.ttf)
}

@font-face {
  font-family: 'Poppins-ExtraBold';
  src: url(./assets/fonts/Poppins-ExtraBold.ttf)
}

@font-face {
  font-family: 'Poppins-ExtraLight';
  src: url(./assets/fonts/Poppins-ExtraLight.ttf)
}

@font-face {
  font-family: 'Poppins-Light';
  src: url(./assets/fonts/Poppins-Light.ttf)
}

@font-face {
  font-family: 'Poppins-Thin';
  src: url(./assets/fonts/Poppins-Thin.ttf)
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url(./assets/fonts/Poppins-Bold.ttf)
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url(./assets/fonts/Poppins-SemiBold.ttf)
}

body {
  margin: 0px;
}

* {
  font-family: Poppins;
  box-sizing: border-box;
  margin: 0px;
  border: 0px;
  padding: 0px;
}


:root {
  --primary-color: #472E8B;
  --desktop-spacing: 5vw;
  --mobile-spacing: 5vw;
  --section-vertical-spacing: 40px;
}

.section_container {
  padding: var(--section-vertical-spacing) var(--desktop-spacing);
  height: 100vh;
  background-color: #FFF;
  position: relative;
  z-index: 100;
  overflow: hidden;
}

.section_heading {
  font-family: Poppins-ExtraBold;
  letter-spacing: 3.5px;
  color: rgba(0, 0, 0, 0.67);
  font-size: 70px;
  margin-bottom: 50px;
}



@media only screen and (max-width: 989px) {
  .section_heading {
    font-size: 50px;
    margin-bottom: 40px;
  }
}


@media only screen and (min-width: 990px) {

}
