@font-face {
  font-family: 'BungeeShade';
  src: url(./assets/fonts/BungeeShade.ttf)
}


@font-face {
  font-family: 'Poppins';
  src: url(./assets/fonts/Poppins-Regular.ttf)
}

@font-face {
  font-family: 'Poppins-ExtraBold';
  src: url(./assets/fonts/Poppins-ExtraBold.ttf)
}

body {
  margin: 0px;
}

* {
  font-family: Poppins;
  box-sizing: border-box;
  margin: 0px;
  border: 0px;
  padding: 0px;
}


:root {
  --primary-color: #472E8B;
  --dekstop-spacing: 5vw;
}

