
@font-face {
  font-family: 'FjallaOne';
  src: url(./assets/fonts/FjallaOne-Regular.ttf)
}

@font-face {
  font-family: 'Poppins';
  src: url(./assets/fonts/Poppins-Regular.ttf)
}

@font-face {
  font-family: 'Poppins-ExtraBold';
  src: url(./assets/fonts/Poppins-ExtraBold.ttf)
}

@font-face {
  font-family: 'Poppins-ExtraLight';
  src: url(./assets/fonts/Poppins-ExtraLight.ttf)
}

@font-face {
  font-family: 'Poppins-Light';
  src: url(./assets/fonts/Poppins-Light.ttf)
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url(./assets/fonts/Poppins-SemiBold.ttf)
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url(./assets/fonts/Poppins-Bold.ttf)
}

body {
  margin: 0px;
}


a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

:focus {
  outline: none;
}

button {
  background-color: transparent;
  border: none;
}

button:hover {
  cursor: pointer;
}


button:focus {
  outline: 0px;
}

* {
  font-family: Poppins;
  box-sizing: border-box;
  margin: 0px;
  border: 0px;
  padding: 0px;
}


:root {
  --primary-color: #472E8B;
  --horizontal-spacing: 5vw;
  --section-vertical-spacing: 40px;
}

@media only screen and (min-width: 990px) {
  :root {
    --horizontal-spacing: 5vw;
    --section-vertical-spacing: 20px;
  }
}

.section_container {
  padding: var(--section-vertical-spacing) var(--horizontal-spacing);
  height: 100vh;
  background-color: #FFF;
  position: relative;
  z-index: 100;
  overflow: hidden;
}

.section_heading {
  font-family: FjallaOne;
  letter-spacing: 3.5px;
  color: rgba(0, 0, 0, 0.67);
  font-size: 70px;
  text-transform: uppercase;
}



@media only screen and (max-width: 989px) {

  .section_heading {
    font-size: 50px;
    margin-bottom: 40px;
  }

  @media  screen and  (max-height: 700px)  {
    .section_heading {
      margin-bottom: 25px;
    }
   }
}


@media only screen and (min-width: 990px) {
  
  .section_heading {
    margin-bottom: 50px;
  }

  @media  screen and  (max-width: 1366px)  {
    .section_heading {
      margin-bottom: 30px;
    }
   }
}
